# Python
__pycache__/
*.py[cod]
*$py.class
venv/
venv310/
.env

# Project specific
data/
*.wav
*.mp3
*.ogg
*.m4a

# Model downloads (Hugging Face / Coqui)
**/tts_models/
**/whisper_models/

# IDEs
.vscode/
.idea/
.DS_Store